body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

img{
    display: block;
}

.header{
    border-bottom: 1px solid #e7e9fc;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-navigation{
    display: flex;
}

.navigation-list{
    display: flex;
    align-items: center;
}

.logo-left{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;

    margin-right: 76px;
}

.logo-right{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42;
}

.menu-list{
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.navigation-item{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #2E2F42;

    padding: 24px 0;
    display: block;
}

.navigation-item:hover,
.navigation-item:focus{
    color:#404bbf;
}

.address{
    font-style: normal;
}

.adress-list{
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.address-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}

.address-item:hover,
.address-item:focus{
    color: #404bbf;
}
.main-page{
    background-color: #2E2F42;

    padding: 188px 0;
}

.main-page-header{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;

    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.main-page-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;

    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.main-page-button:hover,
.main-page-button:focus{
    background-color: #404BBF;
}

.section-benefits{
    padding: 120px 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list{
    display: flex;
    gap: 24px;
}

.benefits-list-item{
    width: calc((100% - 72px) / 4)
}

.benefits-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}

.benefits-descr{
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team{
    background-color: #F4F4FD;

    padding: 120px 0;
}

.team-header{
    font-size: 36px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-item{
    background-color: #FFFFFF;

    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-item-about{
    padding: 32px 0;
}

.team-item-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;

    text-align: center;
    margin-bottom: 8px;
}

.team-item-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    text-align: center;
}

.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item{
    background-color: #FFFFFF;

    width: calc((100% - 48px) / 3);
}

.app-about{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}

.portfolio-item-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-bottom{
    background-color: #2e2f42;

    padding: 100px 0;
}

.logo-left-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;

    display: inline-block;
    margin-bottom: 16px;
}

.logo-right-bottom{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #F4F4FD;
}

.cta-bottom{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    max-width: 264px;
}